/* Notification Section Styles */
.notification-section {
    background-color: #f8f9fa; /* Same background color as feedback section */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .notification-content {
    flex-basis: 60%;
    padding-right: 1rem;
  }
  
  .notification-image {
    margin-top: 100px;
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .notification-image img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive Layout */
  @media (max-width: 768px) {
    .notification-section {
      flex-direction: column;
    }
  
    .notification-content,
    .notification-image {
      flex-basis: 100%;
      padding: 0;
      margin-bottom: 1.5rem;
    }
  
    .notification-image img {
      width: 100%;
    }
  }
  