.services{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.program{
    flex-basis: 31%;
    position: relative;
}
.program img{
   width: 100%;
   border-radius: 10px;
   display: block;
   box-shadow: 1px 1px 10px 5px #060b26;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(12, 15, 46, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: .4s;
    
}
.service-icon{
    font-size: 100px;
    margin-bottom: 10px;
   
    
}
.program:hover .caption{
    opacity: 2;
    padding-top: 0;
}

@media (max-width:900px){
    .services{
        flex-direction: column;
    }
    .program{
        flex-basis: 100%;
        margin: 20px;
    }
}