.popup-customer{
    position: fixed;
    top: 0 ;
    left: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    width: 100%;
    height: 100%;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.popup-customer .popup-box{
     
    width: 400px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 1px 1px 20px 10px #060b26;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.popup-customer .popup-box .cancel-btn{
    cursor: pointer;
    font-size: 1.8rem;
  }
  .popup-customer  .popup-box .title {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    flex: 40%;
    border-bottom: 1px solid black;
  }

  .popup-customer .popup-box .title p{
    padding-top: 0px;
  }


  .popup-customer .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .popup-customer .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .popup-customer .popup-box .body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 5px 5px;
   gap: 1px;
   border-bottom: 1px solid black;
  }

  .popup-customer .popup-box .body .small-head{
    color: rgb(97, 97, 107);
    font-size: .8rem;
  }
  .popup-customer .popup-box .body .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .popup-customer .popup-box .body .info img{
    width: 100px;
    border-radius: 50%;
    margin-right: 30px;
  }

  .popup-customer .popup-box .footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }


  
  .popup-customer .popup-box .footer-btn button {
    width: 100px;
    height: 40px;
    margin: 5px;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .popup-customer #cancelBtn {
    background-color: crimson;
  }