.admin-charts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  margin: 20px;
}

.admin-chart-item {
  flex: 1 1 45%; 
  min-width: 300px; 
}

.chartTitle {
  margin-bottom: 10px;
  font-size: 1.5rem;
}


@media (max-width: 1200px) {
  .admin-chart-item {
    flex: 1 1 100%; 
  }
}

@media (max-width: 768px) {
  .admin-chart-item {
    flex: 1 1 100%; 
    margin: 10px 0; 
  }
  
  .chartTitle {
    font-size: 1.25rem; 
  }
}

@media (max-width: 480px) {
  .admin-charts {
    margin: 10px; 
  }

  .chartTitle {
    font-size: 1rem; 
  }
}
