.admin-charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px 30px;
  }
  
  .admin-chart-item {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .chartTitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
  }
  