.bookingpayment {

    position: relative;
    display: flex;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
  }
  
  .paynowbutton {
  
    background-color: #020202;
    color: #fff;
    margin: 10px;
  }
  .paynowbutton:hover{
    background-color: #f9fcf9;
    color: #020202;
    border: 1px solid #020202;
  }
  
  .payconfirmbutton {
  
    background-color: #f9fcf9;
    color: #020202;
    border-color: #020202;
  
  }
  
  .Paymentpage {
    margin: 10px;
    box-shadow: -2px 0px 7px 5px rgb(4 1 1 / 10%);
    padding: 20px;
    border-radius: 20px;
    
  }

  .Paymentpage .custom-booking-backdrop{
    backdrop-filter: blur(15px); 
    background: rgba(0, 0, 0, 0.4);
  }