.latest-bookings {
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin: 50px 50px;
  }
  
  .widgetLgTitle {
    font-size: 22px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 20px;
  }
  
  .widgetLgTable{
    margin: 20px;
    border-spacing: 20px;
    width: 100%;
    margin-right: 10px;
  }

  .widgetLgTr{
    height: 60px;
    align-items:baseline;
  }
  
  .widgetLgTh{
    text-align: left;
  }
  
  .widgetLgUser{
    display: flex;
    align-items: center;
    font-weight: 600;
  }
  
  .widgetLgImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .widgetLgDate,.widgetLgAmount{
    font-weight: 300;
  }
  
  .widgetLgButton {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
    width: 120px;
  }
  
  .widgetLgButton.Accepted{
      background-color: #28a745;
      color: white;
  }
  .widgetLgButton.Declined-provider,  .widgetLgButton.Declined-customer{
      background-color: #dc3545;
      color: #ffffff;
  
  }
  .widgetLgButton.Pending{
      background-color: #ffc107;
      color: white;
  
  }

  .widgetLgButton.Completed{
    background-color: #ffc107;
    color: #ffffff;

}

@media (max-width:700px){
  .one{
    display: none;
  }
  .widgetLgDate{
    display: none;

  }
  .widgetLgAmount{
    display: none;
  }
  .widgetLgName{
    font-size: .8rem;
    margin-right: 15px;
  }
  .widgetLgImg{
    margin-right: 0;
  }
 
}

@media (max-width:500px){
  .widgetLgTable{
  
    margin-left: 0px;
  }
}
  