.feedback-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 120px;
}

.review-img {
    flex: 1; /* Makes the image section take less space */
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.review-img img {
    max-width: 100%; /* Ensures the image resizes properly */
    height: auto;
    border-radius: 10px; /* Optional: Adds rounded corners to the image */
}

.review-content {
    padding: 10px;
    flex: 1; /* Makes the content section take more space */
}

.feedback-item {
    background-color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #eee;
}

.feedback-item:last-child {
    border-bottom: none;
}

.feedback-title {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

.customer-name {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.review-text {
    margin-bottom: 0.5rem;
}

.star-rating {
    color: #ffb400;
}

@media (max-width: 1000px){
    .review-content{
        width: 100%;
    }
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    .feedback-container {
        flex-direction: column; /* Stacks content and image vertically */
        text-align: center;
    }
    
    .review-img {
        margin-bottom: 20px; /* Adds spacing between image and content */
    }

    .feedback-title {
        font-size: 24px;
    }

    .review-text, .customer-name, .star-rating {
        font-size: 1em;
    }
}
