.home-nav {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  margin: 0;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: white;
}

.nav-menu {
  background-color: #060b26;
  width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  margin: 0;
  left: -100%;
  transition: 850ms;
  z-index: 20;
}

 .nav-menu.active {
  left: 0;
  transition: 350ms;
}

 .nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 0px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 22px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}


.nav-menu-items {
  width: 100%;
  height: 95vh;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 10px;
}
.topbarWrapper {
  height: 100%;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbarWrapper .topLeft .logo img{
  width: 60px;
}

.topbarWrapper .topRight{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  }
  .notific-icon{
    color: white;
    margin-right: 0px;
  }


.topIconBadge{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 22px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
.admin-name{
display: flex;
margin-left: 0;
flex-direction: column;
align-items: center;
font-size: 20px;
}

.topRight .topAvatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid rgb(240, 238, 238);
  margin-left: 0px;
}
.topRight .menu-drop{
background: transparent !important;
border: none !important;
color: black;
animation: none;
}

.topRight .menu-drop:focus, .nav .menu-drop:active{
background-color: none !important;
border: none !important;
box-shadow: none !important;
}
.topRight .menu{
width: 100px;
border: 2px solid black;
box-shadow: 1px 1px 5px 3px black;
}
.topRight .menu .admin-name{
font-weight: bold;
}
.topRight .drop-link{
text-decoration: none;
color: black;
}

.admin-footer{
  font-size: 13px;
  color: #f2e7e77e;
  text-align: center;
  margin-top: 15px;
 margin-bottom: 6px;
}

.drop-head{
  text-decoration: none;
  color: white;
  font-size: 22px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.service-dropdown{
  margin-left: 20px;
}
.service-link{
  text-decoration: none;
  color: #c8c9f8;
  font-size: 18px;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 3px 16px;
  border-radius: 4px;
  margin-left: 10px;
}
.service-link:hover{
  background-color: #1a83ff;
}
