

.nav .middle{
    margin-left: auto;
}

.nav{
    position: fixed;
    z-index: 20;
    width: 100%;
    background:#F0F8FF;
    top: 0;
    left: 0;
}
.nav .nav-link{
    text-decoration: none;
}
.nav .topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 05px;
}
.nav .menu-drop{
    background: transparent !important;
    border: none !important;
    color: black;
    animation: none;
  }

  .nav .menu-drop:focus, .nav .menu-drop:active{
    background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  }
  .nav .menu{
    width: 100px;
    text-align: center;
  }
  .nav .menu .user-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(10, 10, 89);
  }
  .nav .logo{
    cursor: pointer;
  }

