
.page-title{
    margin-top: 100px;
    width: 100%;
}
.page-title h1{
   font-weight: 600;
    margin:15px 20px;
    font-family: poppins,sans-serif;
    color: rgb(14, 14, 14);
     text-align: center;
}