
.feedback-write{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
   
   
}
.feedback-write h4{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-area{
    padding: 5px;
}
.feedback-write button{
    font-size: 1.2rem;
}
.feedback-write button:hover{
    background: rgb(21, 119, 231);
    color: white;
}