.customer-table{
    height: 535px;
    overflow:hidden;
    margin:15px 65px;
    box-shadow: 1px 1px 8px 5px black;
}
 .first-row {
    padding-top: 60px; 
    padding-bottom: 60px;/* Adjust the value as needed */
    
  }
  .customer-table .userListUser{
    display: flex;
    align-items: center;
}

.customer-table .userListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.customer-table .userListDelete{
    color: red;
    cursor: pointer;
}

.customer-table .table-action{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-left: 3px;
}

.customer-table .table-action .action-button{
    background: rgb(57, 57, 203);
    color: white;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px 5px;
    cursor: pointer;
}
.customer-table .action-button .button-link{
    text-decoration: none;
    color: white;
}
.customer-table .table-action .action-button:hover{
    background: white;
    color: darkblue;
    border: 1px solid darkblue;
}
.customer-table .action-button .button-link:hover{
    color: darkblue;
}

.loading{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   margin-top: 200px;

}
.loading img{
    width:250px ;
}


@media (max-width:900px) {
    .customer-table{
        margin:20px 30px;;
    }
}

