

.register-option{
    position: fixed;
    top: 0 ;
    left: 0;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.8) 0%, rgba(6,11,38,0.8) 35%, rgba(125,110,119,0.8) 100%);
    width: 100%;
    height: 100%;
    z-index: 60;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  .option-continer{
    width: 350px;
    height: 300px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
.button-div .button {
    background: #060b26;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
  }
  .button-div .button:hover{
    background: white;
    border: 2px solid #060b26;
    color:  #060b26;
    font-weight: bold;
  }


  .option-continer .cancel-btn{
    cursor: pointer;
    font-size: 2rem;
    
  }

  .login_signup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
  }
  .login_signup span{
    margin-left: 3px;
    text-decoration: underline;
    color: #060b26;
    cursor: pointer;
  }
  .login_signup span:hover{
    color: black;
  }